.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0px;
    background-color: white;
    width: 190px;
    z-index: 200;
    padding-top: 5px;

    background-color:rgb(255, 247, 242);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}