.activity-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color:bisque
  }
  
  .activity-item__description {
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-start;
    
  }
  
  .activity-item h4 {
    flex: 1;
    
  }
  
  .activity-item__button {
    background-color:rgb(190, 142, 234);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100px; /* Genişlik */
    height: 50px;

  }
  
  @media (min-width: 580px) {
    .activity-item__description {
      flex-direction: row;
      font-size: 1rem;
      flex: 1;
      margin-left: auto;
      color:black;
      font-weight: bold;
      
    }
  
    .activity-item__button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color:black;
      font-weight: bold;

    }
  }