.activity-item {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 5%;
    margin: 1rem 0.1rem;
    background-color:bisque;
    height: 150px;
    
  }
  
  .activity-item__description {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    
  }
  
  .activity-item h4 {
    flex: 1;
    
  }
  
  .activity-item__button {
    background-color:rgb(190, 142, 234);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    width: 100px; /* Genişlik */
    height: 50px;

  }
  
  @media (min-width: 580px) {
    .activity-item__description {
      flex-direction: row;
      font-size: 1rem;
      flex: 1;
      margin-left: auto;
      color:black;
      font-weight: bold;
      
    }
  
    .activity-item__button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color:black;
      font-weight: bold;

    }
  }

    .activity-box-time-and-invite{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0.5rem
    }

    .activty-box-invite{
      padding-top: 5px;
      
    }