

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 80%;
    width: 400px; /* İstenilen genişliği ayarlayabilirsiniz */
    height: 300px; /* İstenilen yüksekliği ayarlayabilirsiniz */
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.profil-photo-popup img {
    border-radius: 50%;
    width: 130px;
    height:130px;
    object-fit: cover;
    background-color: transparent;  
}
.profil-photo-popup{
    border-radius: 0%;
    
}
.profil-resmi{
    background-color: transparent;
    border: none;
}
