.header{
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(255, 252, 250);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}